<?xml version="1.0" encoding="UTF-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.iia.giveastick"
	android:versionCode="1"
	android:versionName="@string/app_version">
	<uses-sdk
		android:minSdkVersion="7"
		android:targetSdkVersion="18" />
	<uses-permission android:name="android.permission.GET_TASKS" />
	<application
		android:label="@string/app_name"
		android:name=".GiveastickApplication"
		android:icon="@drawable/ic_launcher"
		android:allowBackup="true"
		android:theme="@style/PinnedTheme">
		<activity
			android:name=".HomeActivity"
			android:label="@string/app_name">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity
			android:name=".view.user.UserCreateActivity"
			android:label="@string/app_name"
			android:exported="false">
			<intent-filter>
				<action android:name="android.intent.action.INSERT" />
				<category android:name="android.intent.category.DEFAULT" />
				<data android:mimeType="vnd.android.cursor.item/com.iia.giveastick.User" />
			</intent-filter>
		</activity>
		<activity
			android:name=".view.user.UserEditActivity"
			android:label="@string/app_name"
			android:exported="false">
			<intent-filter>
				<action android:name="android.intent.action.EDIT" />
				<category android:name="android.intent.category.DEFAULT" />
				<data android:mimeType="vnd.android.cursor.item/com.iia.giveastick.User" />
			</intent-filter>
		</activity>
		<activity
			android:name=".view.user.UserShowActivity"
			android:label="@string/app_name"
			android:exported="false">
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.DEFAULT" />
				<data android:mimeType="vnd.android.cursor.item/com.iia.giveastick.User" />
			</intent-filter>
		</activity>
		<activity
			android:name=".view.user.UserListActivity"
			android:label="@string/app_name"
			android:exported="false">
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.DEFAULT" />
				<data android:mimeType="vnd.android.cursor.collection/com.iia.giveastick.User" />
			</intent-filter>
		</activity>
		<activity
			android:name=".view.votestick.VoteStickCreateActivity"
			android:label="@string/app_name"
			android:exported="false">
			<intent-filter>
				<action android:name="android.intent.action.INSERT" />
				<category android:name="android.intent.category.DEFAULT" />
				<data android:mimeType="vnd.android.cursor.item/com.iia.giveastick.VoteStick" />
			</intent-filter>
		</activity>
		<activity
			android:name=".view.votestick.VoteStickEditActivity"
			android:label="@string/app_name"
			android:exported="false">
			<intent-filter>
				<action android:name="android.intent.action.EDIT" />
				<category android:name="android.intent.category.DEFAULT" />
				<data android:mimeType="vnd.android.cursor.item/com.iia.giveastick.VoteStick" />
			</intent-filter>
		</activity>
		<activity
			android:name=".view.votestick.VoteStickShowActivity"
			android:label="@string/app_name"
			android:exported="false">
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.DEFAULT" />
				<data android:mimeType="vnd.android.cursor.item/com.iia.giveastick.VoteStick" />
			</intent-filter>
		</activity>
		<activity
			android:name=".view.votestick.VoteStickListActivity"
			android:label="@string/app_name"
			android:exported="false">
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.DEFAULT" />
				<data android:mimeType="vnd.android.cursor.collection/com.iia.giveastick.VoteStick" />
			</intent-filter>
		</activity>
		<activity
			android:name=".view.stick.StickCreateActivity"
			android:label="@string/app_name"
			android:exported="false">
			<intent-filter>
				<action android:name="android.intent.action.INSERT" />
				<category android:name="android.intent.category.DEFAULT" />
				<data android:mimeType="vnd.android.cursor.item/com.iia.giveastick.Stick" />
			</intent-filter>
		</activity>
		<activity
			android:name=".view.stick.StickEditActivity"
			android:label="@string/app_name"
			android:exported="false">
			<intent-filter>
				<action android:name="android.intent.action.EDIT" />
				<category android:name="android.intent.category.DEFAULT" />
				<data android:mimeType="vnd.android.cursor.item/com.iia.giveastick.Stick" />
			</intent-filter>
		</activity>
		<activity
			android:name=".view.stick.StickShowActivity"
			android:label="@string/app_name"
			android:exported="false">
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.DEFAULT" />
				<data android:mimeType="vnd.android.cursor.item/com.iia.giveastick.Stick" />
			</intent-filter>
		</activity>
		<activity
			android:name=".view.stick.StickListActivity"
			android:label="@string/app_name"
			android:exported="false">
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.DEFAULT" />
				<data android:mimeType="vnd.android.cursor.collection/com.iia.giveastick.Stick" />
			</intent-filter>
		</activity>
		<activity
			android:name=".view.usergroup.UserGroupCreateActivity"
			android:label="@string/app_name"
			android:exported="false">
			<intent-filter>
				<action android:name="android.intent.action.INSERT" />
				<category android:name="android.intent.category.DEFAULT" />
				<data android:mimeType="vnd.android.cursor.item/com.iia.giveastick.UserGroup" />
			</intent-filter>
		</activity>
		<activity
			android:name=".view.usergroup.UserGroupEditActivity"
			android:label="@string/app_name"
			android:exported="false">
			<intent-filter>
				<action android:name="android.intent.action.EDIT" />
				<category android:name="android.intent.category.DEFAULT" />
				<data android:mimeType="vnd.android.cursor.item/com.iia.giveastick.UserGroup" />
			</intent-filter>
		</activity>
		<activity
			android:name=".view.usergroup.UserGroupShowActivity"
			android:label="@string/app_name"
			android:exported="false">
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.DEFAULT" />
				<data android:mimeType="vnd.android.cursor.item/com.iia.giveastick.UserGroup" />
			</intent-filter>
		</activity>
		<activity
			android:name=".view.usergroup.UserGroupListActivity"
			android:label="@string/app_name"
			android:exported="false">
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.DEFAULT" />
				<data android:mimeType="vnd.android.cursor.collection/com.iia.giveastick.UserGroup" />
			</intent-filter>
		</activity>
		<activity
			android:name=".view.voteforfeit.VoteForfeitCreateActivity"
			android:label="@string/app_name"
			android:exported="false">
			<intent-filter>
				<action android:name="android.intent.action.INSERT" />
				<category android:name="android.intent.category.DEFAULT" />
				<data android:mimeType="vnd.android.cursor.item/com.iia.giveastick.VoteForfeit" />
			</intent-filter>
		</activity>
		<activity
			android:name=".view.voteforfeit.VoteForfeitEditActivity"
			android:label="@string/app_name"
			android:exported="false">
			<intent-filter>
				<action android:name="android.intent.action.EDIT" />
				<category android:name="android.intent.category.DEFAULT" />
				<data android:mimeType="vnd.android.cursor.item/com.iia.giveastick.VoteForfeit" />
			</intent-filter>
		</activity>
		<activity
			android:name=".view.voteforfeit.VoteForfeitShowActivity"
			android:label="@string/app_name"
			android:exported="false">
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.DEFAULT" />
				<data android:mimeType="vnd.android.cursor.item/com.iia.giveastick.VoteForfeit" />
			</intent-filter>
		</activity>
		<activity
			android:name=".view.voteforfeit.VoteForfeitListActivity"
			android:label="@string/app_name"
			android:exported="false">
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.DEFAULT" />
				<data android:mimeType="vnd.android.cursor.collection/com.iia.giveastick.VoteForfeit" />
			</intent-filter>
		</activity>
		<provider
			android:name="com.iia.giveastick.provider.GiveastickProvider"
			android:authorities="com.iia.giveastick.provider"
			android:label="@string/app_provider_name"
			android:description="@string/app_provider_description" />
	</application>
</manifest>
